* {
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background-color: #ffffff;
    max-height: 50%;
  }
  
  .game-basket {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  
  .title-basket {
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #3a3a3c;
  }
  
  .title-basket {
    width: 330px;
    margin-bottom: 0px;
    display: inline;
  }
  
  
  .keyboard-basket {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -400px;
  }
  
  .keyboard-basket button {
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: #818384;
    margin: 4px;
  }
  
  .keyboard-basket button:nth-child(11) {
    margin-left: 30px;
  }
  
  .keyboard-basket button:nth-child(20),
  .keyboard-basket button:nth-child(28) {
    width: 68px;
  }
  
  .tile-basket {
   
    align-items: center;
    flex-direction: column;
    right: 210px;
    position: relative;
  
  }
  
  .opponent-basket {

  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 220px;
  position:relative;


  margin-left: -400px;
  }
  
  .tile {
  display: flex;
  width: 62px;
  height: 62px;
  border: 2px solid#3a3a3c;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 2px;
  }
  
  
  
  .btn {
    background-color: #26aac7;
    border: none;
    color: white;
    padding: 12px 16px;
    cursor: pointer;
    border-bottom: 1px solid #3a3a3c;
    font-size: 2.5rem;
    font-weight: bold;
  
  
  }
  
  .flex {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .Instructions {
  
    height: 90vh;
    display: flex;
    width: 50%;
    margin-left: 25%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  
  }
  
  
  #im {
  
    margin-left: 10%;
    width: 70%;
  }
  
  
  .close {
    float: right;
  }
  
  .message-basket {
      height: 30px;
  }
  
  p {
      border-radius: 10px;
      padding: 10px;
      margin: 0;
  }
  
  .tile.flip {
      animation: 0.5s linear flipping;
  }
  
  @keyframes flipping {
      0% {
          transform: rotateX(0deg);
      }
  
      50% {
          transform: rotateX(90deg);
      }
  
      100% {
          transform: rotateX(0deg);
      }
  }
  
  .absent {
      background-color: #3a3a3c !important;
      border: none !important;
  }
  
  .pressent {
      background-color: #b59f3a !important;
      border: none !important;
  }
  
  .correct {
      background-color: #538d4e !important;
      border: none !important;
  }
  
  .close {
    float: right;
  
  }
  
  /* modal styling */
  
  
  #main-content {
  margin-left : auto;
  margin-right : auto;
  }
  
  #Icon {
  color: #110f05;
   background-color: #fff3f3;
  }
  
  #primary_color {
  color: #dcdcdc;
  }
  
  #W_background{
  background-color: #66BB6A;
  }
  
  #I_background {
  background-color: #FFF176;
  }
  
  #U_background {
  background-color: #9E9E9E;
  }
  
  div {
  display: flex;
  
  }
  #guess_word
{
    background-color: #05161a;
}

.game-basket{
  margin-top: 0%;
  margin-bottom: 0%;
}
#i1{
  margin-top: -30px
}
#i2{
  margin-top: -30px
}
